<select class="h-custom-2 form-select form-control-sm" id="add-measurement-unit-input">
    <option>kg</option>
    <option>g</option>
    <option>mg</option>
    <option>l</option>
    <option>ml</option>
    <option>oz</option>
    <option>lb</option>
    <option>tbsp</option>
    <option>tsp</option>
    <option>cups</option>
    <option>sticks</option>
    <option>unit</option>
    <option>piece</option>
</select>
