<section id="hero">
     <div class="hero-container">
          <h1 id="hero-text">Welcome to Cravings</h1>
          <h2 id="hero-text">Your most delicious resource for your daily cooking!</h2>
          <a id="startbutton" href="/list" class="btn-get-started scrollto nav-link active">Get Started</a>
          <img src="/images/cravings-logo-t.png" alt="Carleton University - Login"
               style="object-fit: cover; object-position: left;">
     </div>
</section>