<section class="h-75">
     <div class="container-fluid">

          <div class="row">
               <div class="col-xs-6 col-md-3 col-xl-2 text-black mb-2">
                    <select id="category_id" class="h-custom-2 ms-xl-4 form-select form-control-lg"
                         aria-label="Select Article Category">

                    </select>
               </div>
               <div class="col-xs-6 col-md-3 col-xl-2 text-black mb-2">
                    <select id="memberslist" class="h-custom-2 ms-xl-4 form-select form-control-lg"
                         aria-label="Select a member">
                    </select>
               </div>
          </div>

          <div class="row" style="flex-wrap: wrap;flex-direction: row;">
               <div class="col-8 text-black d-flex">
                    <table class="table">
                         <thead>
                              <tr>
                                   <th scope="col">#</th>
                                   <th scope="col">Name</th>
                                   <th scope="col">Category</th>
                                   <th scope="col">Date</th>
                                   <th scope="col">User</th>
                              </tr>
                         </thead>
                         <tbody>
                              <tr>
                                   <th scope="row">1</th>
                                   <td> <a href="/view/1">Worlds Best Lasagna</a></td>
                                   <td>Breakfast</td>
                                   <td>2023-11-17 20:59:40</td>
                                   <td>Jacob Fournier-Martin</td>
                              </tr>
                              <tr>
                                   <th scope="row">2</th>
                                   <td><a href="/view/1">Teriyaki Chicken</a></td>
                                   <td>Main dishes</td>
                                   <td>2023-11-17 20:59:40</td>
                                   <td>Jacob Fournier-Martin</td>
                              </tr>
                              <tr>
                                   <th scope="row">3</th>
                                   <td><a href="/view/2">Never-Fail Scalloped Potatoes</a></td>
                                   <td>Main dishes</td>
                                   <td>2023-11-17 20:59:40</td>
                                   <td>Jacob Fournier-Martin</td>
                              </tr>
                              <tr>
                                   <th scope="row">4</th>
                                   <td><a href="/view/3">Chicken Schnitzels</a></td>
                                   <td>Main dishes</td>
                                   <td>2023-11-17 20:59:40</td>
                                   <td>Sonja Gorin</td>
                              </tr>
                              <tr>
                                   <th scope="row">5</th>
                                   <td><a href="/view/5">Teriyaki Chicken</a></td>
                                   <td>Main dishes</td>
                                   <td>2023-11-17 20:59:40</td>
                                   <td>Gustavo Miller</td>
                              </tr>
                              <tr>
                                   <th scope="row">6</th>
                                   <td><a href="/view/6">Spaghetti Sauce</a></td>
                                   <td>Sauces</td>
                                   <td>2023-11-17 20:59:40</td>
                                   <td>Sonja Gorin</td>
                              </tr>
                         </tbody>
                    </table>
               </div>
          </div>
     </div>
</section>